@import "tailwindcss";

/* body {
  font-family: "Raleway", sans-serif;
  } */

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
  /* Define CSS variables for your font */
  :root {
    --font-montserrat: "Montserrat", sans-serif;
  }

  /* Optionally, set it as the default sans font */
  html {
    font-family: var(--font-montserrat);
  }
}

@theme {
  --color-primary: #003b95;
  --color-secondary: #ffb700;
}
